<hr />
<section class="debug" style="border: 5px solid red; word-break: break-word;">
    <table class="table">
        <tr>
            <th colspan="2" style="text-align: center">
                Debug info for <%- name -%>
            </th>
        </tr>
        <tr>
            <td><%- "typeof " + name -%></td>
            <td><%- typeof item -%></td>
        </tr>
        <% if ('object' === typeof item) { %>
            <tr>
                <td><%- "Object.keys(" + name + ")" -%></td>
                <td><%- "[" + Object.keys(item) + "]" -%></td>
            </tr>
            <% if ('length' in item) { %>
                <tr>
                    <td><%- name + ".length" -%></td>
                    <td><%- item.length -%></td>
                </tr>
            <% } %>
        <% } %>
        <% if (item && 'object' !== typeof item) { %>
            <tr>
                <td><%- name + ".toString()" -%></td>
                <td><%- item.toString() -%></td>
            </tr>
        <% } %>
        <% if (!item) {%>
            <tr>
                <td colspan="2"><h3><%- name + " was falsey!!!" -%></h3></td>
            </tr>
        <% }%>
    </table>

</section>
<hr />
