<style>
    .gallery-title-image{
        display: block;
        max-width:<%- theme.gallery_max_width -%>;
        max-height:<%- theme.gallery_max_height -%>;
        width: auto;
        height: auto;
    }
</style>

<div class="gallery-excerpt">
    <img
            class="gallery-title-image"
            src="<%- item.image -%>"
            alt="title image for <%- item.title -%>"
    />
    <h2 class="gallery-title"><%- item.title %></h2>
</div>
