<style>
    .gallery-excerpt {
        border: 3px dotted green;


    }
    .gallery-title-image{
        display: block;
        max-width:<%- theme.gallery_max_width -%>;
        max-height:<%- theme.gallery_max_height -%>;
        width: auto;
        height: auto;
    }
</style>
<div class="gallery-excerpt">
    <img
            class="gallery-title-image"
            src="<%- item.image -%>"
            alt="title image for <%- item.title -%>"
    />
    <h2 class="gallery-title"><a href="/<%- item.path %>"><%- item.title %></a></h2>
    <% if (item.excerpt) { %>
        <p><%- item.excerpt -%></p>
    <% } %>
</div>
