<!--This template is used for posts-->
<%- partial('_partial/menu') %>
<%- page.categories -%>
<%  if("projects" in page.categories){ %>
    <%-     partial('_partial/posts/galleryItem', {item: page}) %>
<%  } else { %>
    <%- partial('_partial/menu') %>
    <div class="container">
        <!-- Blog Header: title and subtitle -->
        <%- partial('_partial/header') %>

        <div class="row">

            <!-- Main Content -->
            <div class="col-sm-8 blog-main">
                <%- partial('_partial/post', {item: page}) %>
            </div>

        </div>
    </div>
<%
}
%>
